html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
  touch-action: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #fff;
}

#container {
  width: 100vmin;
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  touch-action: none;
  perspective: 1000px;
  overflow: hidden;
}

.hex-grid {
  display: block;
  width: 100%;
  height: 100%;
  touch-action: none;
  transform-style: preserve-3d;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, -0.002, 0, 0, 1, 0, 0, 0, 0, 1);
  overflow: visible;
}

.hex-grid text {
  fill: currentColor;
  user-select: none;
  font-size: 3vmin;
}

.hex-grid polygon {
  fill: rgba(255, 255, 255, 0.1);
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 1;
}